aiohttp==3.6.2
akinator.py==4.0.1
discord.py==1.6.
PyDictionary==2.0.1
pytz==2018.9
Random-Word==1.0.4
yarl==1.4.2
matplotlib==3.3.3
numpy==1.19.4
jishaku==1.20.0.220
discord-py-slash-command==1.0.8.5
asyncpg==0.21.0
tabulate==0.8.7
aioscheduler==1.4.2